<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zyxsnet.mobile.young">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
      android:name="com.zyxsnet.mobile.young.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:usesCleartextTraffic="true"
      android:requestLegacyExternalStorage="true"
      android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

<!--        &lt;!&ndash;消息推送alipush&ndash;&gt;-->
<!--        <meta-data android:name="com.alibaba.app.appkey" android:value="333706060"/> &lt;!&ndash; 你自己的阿里云- appKey &ndash;&gt;-->
<!--        <meta-data android:name="com.alibaba.app.appsecret" android:value="730a8be985db41d18d6fb55ae6c00eab"/> &lt;!&ndash; 你自己的阿里云-appSecret &ndash;&gt;-->

      <activity
        android:name="com.zyxsnet.mobile.young.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
    </application>
</manifest>
